
.header {
	width: 100%;
	box-shadow: 0px 3px 14px 1px var(--shadow);
}

.header__content {
	display: grid;
	align-items: center;
	grid-template-columns: 2.57fr 5fr;
	max-width: 1200px;
	margin: 0 auto;
	padding: 16px 30px 15px;
}

.header__content.open {
	@media (max-width: 620px) {
		align-items: flex-start;
	}
}

.menu {
	display: flex;
	align-items: center;

	@media (max-width: 620px) {
		position: absolute;
		top: 0;
		left: 0;
		flex-direction: column;
		align-items: flex-start;
		gap: 25px;
		width: 100%;
		padding: 20px;

		background-color: var(--background);
		box-shadow: 0px 3px 14px 1px var(--shadow);
	}
}

.header__content.close > .menu {
	@media (max-width: 620px) {
		display: none;
	}
}

.menu__link {
	position: relative;
	margin-right: 50px;

	text-wrap: nowrap;
	color: var(--brown-dark);

	@media (max-width: 1024px) {
		margin-right: 24px;
	}
}

.menu__link::after {
	position: absolute;
	content: '';
	bottom: -3px;
	left: 50%;
	display: block;
	width: 0;
	height: 3px;

	background: var(--brown-dark);

	transition: 0.3s;
	transform: translateX(-50%);
}

@media (min-width: 621px) {
	.menu__link:hover::after {
		width: 100%;
	}
}

.menu__link:active {
	background: var(--brown);
}

.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	max-width: 160px;
}

.logo__img {
	width: 68px;
	height: 69px;

	@media (max-width: 620px) {
		width: 50px;
		height: 50px;
	}
}

.logo__text {
	margin-left: 8px;

	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: 0.06em;
	color: var(--yellow-light);

	@media (max-width: 620px) {
		font-size: 16px;
	}
}

.menu__button {
	display: none;

	@media (max-width: 620px) {
		position: relative;
		display: block;
		width: 40px;
		height: 40px;
		margin-left: auto;
		padding: 0;

		border: none;
		border-radius: 50%;
		background-color: transparent;
	
		transition: 0.3s;
		z-index: 10;
	}
}

.menu__button:active {
	background-color: var(--yellow-light);
}

.header__content.close > .menu__button .menu__pseudo,
.header__content.close > .menu__button::before,
.header__content.close > .menu__button::after {
	content: '';
	display: block;
	height: 2px;
	width: 20px;
	margin: 3px auto 3px;
	background-color: var(--brown-dark);
}

.header__content.open > .menu__button::before,
.header__content.open > .menu__button::after {
	content: '';
	position: absolute;
	display: block;
	right: 10px;
	height: 2px;
	width: 20px;
	background-color: var(--brown-dark);
}

.header__content.open > .menu__button::before {
	transform: rotate(-45deg);
}

.header__content.open > .menu__button::after {
	transform: rotate(45deg);
}