
.header {
	box-shadow: 0px 3px 14px 1px var(--shadow);
}

.header__content {
	display: grid;
	grid-template-columns: 2.57fr 5fr;
	margin: 0 360px;
	padding: 16px 0 15px;
}

.menu {
	display: flex;
	align-items: center;
}

.menu__link {
	position: relative;
	margin-right: 50px;

	text-wrap: nowrap;
	color: var(--brown-dark);

	color: var(--brown-dark);
}

.menu__link::after {
	position: absolute;
	content: '';
	bottom: -3px;
	left: 50%;
  	transform: translateX(-50%);
	display: block;
	width: 0;
	height: 3px;

	background: var(--brown-dark);

	transition: 0.3s;
}

.menu__link:hover::after {
	width: 100%;
}

.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	max-width: 160px;
}

.logo__text {
	margin-left: 8px;

	color: var(--yellow-light);
	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: 0.06em;
}