.popup {
	display: none;
}

body.popup-open .popup {
	position: fixed;
    top: 0;
    bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;

	background-color: var(--background);

	z-index: 100;
}

.popup__button {
	margin-top: 24px;
	padding: 22px;

	border: none;
	color: var(--deep-dark);
	background-color: var(--yellow);

	transition: 0.3s;

	@media (max-width: 768px) {
		padding: 12px 42px;
	}
}