.delivery {
	position: relative;
	display: grid;
	grid-template-columns: 3.8fr 4.6fr 3.6fr;
	grid-template-areas: 
		"title form ."
		"description form .";

	@media (max-width: 1280px) {
		grid-template-columns: 6fr 6fr;
		grid-template-areas: 
			"title title"
			"description form";
	}

	@media (max-width: 768px) {
		grid-template-columns: auto;
		grid-template-areas: 
			"title"
			"description"
			"form";
	}
}

.delivery__title {
	grid-area: title;
	color: var(--brown);
}

.delivery__title::first-line {
	color: var(--yellow);
}

.delivery__description {
	grid-area: description;
	margin-top: 70px;
	margin-right: 15px;

	font-size: 16px;
	line-height: 24px;
	color: var(--brown);

	@media (max-width: 1280px) {
		margin-top: 24px;
	}

	@media (max-width: 768px) {
		margin-top: 10px;
		font-size: 14px;
	}
}

.delivery-form {
	width: 330px;

	@media (max-width: 768px) {
		width: 100%;
	}
}

.delivery__form {
	grid-area: form;
	margin-top: auto;
	margin-left: auto;
}

.delivery-form__input {
	margin-top: 24px;
	padding: 24px;
	width: 100%;
	height: 60px;

	border: 1px solid #b99150;

	@media (max-width: 768px) {
		padding: 12px;
		height: 45px;
	}
}

.delivery-form__input::placeholder {
	font-size: 18px;
	line-height: 45px;
	color: var(--brown);
}

.delivery-form__button {
	margin-top: 24px;
	padding: 22px;
	width: 100%;

	text-wrap: nowrap;
	border: none;
	color: var(--deep-dark);
	background-color: var(--yellow);

	transition: 0.3s;
	cursor: pointer;

	@media (max-width: 768px) {
		padding: 12px 42px;
	}
}

.delivery-form__button:hover {
	background-color: var(--brown);
}

.delivery-form__button:active {
	background-color: var(--brown-dark);
}

.delivery__img {
	position: absolute;
	top: -62px;
	right: -128px;
	max-width: 22vw;

	@media (max-width: 1440px) {
		right: -35px;
	}

	@media (max-width: 1280px) {
		display: none;
	}
}