@import "colors.css";
@import "../components/header/header.css";
@import "../components/main/main.css";
@import "../components/promo/promo.css";
@import "../components/showcase/showcase.css";
@import "../components/delivery/delivery.css";

@font-face {
	font-family: "Muller Regular";
	src: local("../assets/fonts/Muller/Muller-Trial-Regular"),
		url("../assets/fonts/Muller/Muller-Trial-Regular.woff2") format("woff2"),
		url("../assets/fonts/Muller/Muller-Trial-Regular.woff") format("woff"),
		url("../assets/fonts/Muller/Muller-Trial-Regular.ttf") format("ttf");
	font-weight: normal;
}

@font-face {
	font-family: "Muller Bold";
	src: local("../assets/fonts/Muller/Muller-Trial-Bold"),
		url("../assets/fonts/Muller/Muller-Trial-Bold.woff2") format("woff2"),
		url("../assets/fonts/Muller/Muller-Trial-Bold.woff") format("woff"),
		url("../assets/fonts/Muller/Muller-Trial-Bold.ttf") format("ttf");
	font-weight: 700;
}

@font-face {
	font-family: "Muller Extra Bold";
	src: local("../assets/fonts/Muller/Muller-Trial-ExtraBold"),
		url("../assets/fonts/Muller/Muller-Trial-ExtraBold.woff2") format("woff2"),
		url("../assets/fonts/Muller/Muller-Trial-ExtraBold.woff") format("woff"),
		url("../assets/fonts/Muller/Muller-Trial-ExtraBold.ttf") format("ttf");
	font-weight: 800;
}

@font-face {
	font-family: "Muller Black";
	src: local("../assets/fonts/Muller/Muller-Trial-Black"),
		url("../assets/fonts/Muller/Muller-Trial-Black.woff2") format("woff2"),
		url("../assets/fonts/Muller/Muller-Trial-Black.woff") format("woff"),
		url("../assets/fonts/Muller/Muller-Trial-Black.ttf") format("ttf");
	font-weight: 900;
}

* {
	box-sizing: border-box;
	margin: 0;

	font-family: Muller Regular, sans-serif;
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;

	@media (max-width: 768px) {
		font-size: 14px;
	}

	@media (max-width: 425px) {
		font-size: 12px;
	}
}

html {
	height: 100%;
}

body {
	position: relative;
	height: 100%;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

h1, h2, h3, h4, h5 {
	padding: 0;
}

h1 {
	font-family: Muller Extra Bold, sans-serif;
	font-size: 45px;
	line-height: 55px;


	@media (max-width: 768px) {
		font-size: 35px;
		line-height: 45px;

	}

	@media (max-width: 620px) {
		font-size: 26px;
		line-height: 36px;
	}

	@media (max-width: 425px) {
		font-size: 24px;
		line-height: 34px;
	}

	@media (max-width: 390px) {
		font-size: 19px;
		line-height: 28px;
	}
}

h2 {
	font-family: Muller Extra Bold, sans-serif;
	font-size: 35px;
	line-height: 55px;

	@media (max-width: 768px) {
		font-size: 24px;
		line-height: 45px;
	}

	@media (max-width: 425px) {
		font-size: 18px;
		line-height: 34px;
	}

	@media (max-width: 390px) {
		font-size: 17px;
		line-height: 28px;
	}
}

h3 {
	font-family: Muller Black, sans-serif;
	font-size: 24px;

	@media (max-width: 768px) {
		font-size: 18px;
	}

	@media (max-width: 425px) {
		font-size: 16px;
	}
}

h4 {
	font-family: Muller Bold, sans-serif;
	font-size: 18px;

	@media (max-width: 768px) {
		font-size: 16px;
	}

	@media (max-width: 425px) {
		font-size: 14px;
	}
}

h5 {
	font-family: Muller Extra Bold, sans-serif;
	font-size: 16px;

	@media (max-width: 768px) {
		font-size: 14px;
	}

	@media (max-width: 425px) {
		font-size: 12px;
	}
}
